body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;

}
.contenedor{
    background-image: url("../img/fondo1.png");;
    position: relative;
    bottom: 50px;
    height: 700px;
    width: 100%;
}
.navbar{
    background-color: rgb(0, 0, 0,0.6); 
}
.navbar-brand{
    color: #fff;
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
    margin-left: 5%;
}
.navbar-brand:hover{color: #f0f5f9;}
.nav-link{
    color: #fff;
    margin-right: 40px;
    font-size: 17px;
}
.nav-link:hover{
    color: #f0f5f9;
}


#header{
    margin-top: 0px;
}
.header-content-left{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}
.header-content-left h1{
    position: relative;
    top: 200px;
    right: 200px;
    color: #fff;
    font-size: 50px;
}
.header-content-left p{
    position: relative;
    top: 200px;
    right: 200px;
    text-align: justify;
    color: #fff;;
}
.header-content-left a{
    position: relative;
    top: 200px;
    right: 200px;
    text-align: justify;
    color: #fff;;
}

/*.header-content-right img{
    width: 100%;
    height: auto;
    position: relative;
    top: 150px;
}*/

#about-one{
    background-color: #c9d6df;
    color: black;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid 2px;
    border-left:none;
    border-right:none;
}

.about-right h1{
    margin-right: 15%;
}

.about-right p{
    margin-top: 30px;
    margin-right: 15%;
}

#agenda h1{
    margin-left: 10%;
}
#agenda a{
    margin-left: 20%;
}

.contact-left h1{
    text-align: left;
}

.contact-left{
    text-align: left;
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.contact-right{
    text-align: left;
    margin-left: 25%;
    margin-right: 30%;
    margin-top: 15%;
    margin-bottom: 15%;
}
.btn2 {
    margin: 5px 5px;
    background:#fff ;
    color:#000 ;
    font-size: 18px;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    right: 30px;
}
.redondeado {
    border-radius: 100px;
}
.nav-item {
    position: relative;
    top: 5px;
    right: 50px;
}
